# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android / desktop generated folders can be recreated by flutter create
android/.gradle/
android/local.properties

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
